@import url('fonts.css');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Raleway-Regular;
}

/** HEADER **/

header {
    height: 100px;
    width: 100%;
    background: #222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    position: fixed;
}

.logo {
    height: 100%;
    padding: 20px;
}

header img {
    height: 100%;
}

.logout {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    text-decoration: none;
}

.logout div {
    color: #666;
    font-size: 24px;
}

.logout div i {
    margin-right: 10px;
}

.logout:hover div {
    color: #fff;
}

.logout:hover {
    background: #000;
}

/** MENU **/

.menu {
    background: #222;
    margin-top: 100px;
    height: 100%;
    width: 250px;
    font-size: 24px;
    position: fixed;
}

.menu ul li {
    padding: 15px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.menu ul a {
    color: #666;
    text-decoration: none;
}

.menu ul a li i {
    margin-right: 20px;
}

.menu ul li:hover {
    background: #000;
}

.menu ul a:hover {
    color: #fff;
}

/** WRAPPED CONTENT **/

.wrapped-content {
    padding: 150px 0px 0px 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/** HOME **/

.report {
    width: 300px;
    height: auto;
    margin: 0px 40px 40px 0px;
    padding: 20px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.on {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.foodList {
    margin-bottom: 20px;
}

.total {
    display: none;
}

.sell-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 20px;
}

.chek {
    display: none;
    color: #4F8A10;
    background-color: #DFF2BF;
}

.cancel {
    display: none;
    color: #D8000C;
    background-color: #FFD2D2;
}

.chek,
.cancel {
    width: 100px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.chek:hover {
    color: #fff;
    background-color: #4F8A10;
}

.cancel:hover {
    color: #fff;
    background-color: #D8000C;
}

.on h1 {
    margin-bottom: 20px;
}

.on li {
    list-style: none;
    text-align: justify;
}

.on:hover {
    -webkit-box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.16);
}

.on:hover .total {
    display: block;
}

.on:hover .chek, .on:hover .cancel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 5px;
}

.report .newOrder {
    font-size: 106px;
    cursor: pointer;
    border: none;
    background: #fff;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.report .newOrder:hover {
    color: #666;
}
