@import url('fonts.css');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Lato-Regular;
}

/** HEADER **/

header {
    height: 100px;
    width: 100%;
    background: #222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    position: fixed;
}

.logo {
    height: 100%;
    padding: 20px;
}

header img {
    height: 100%;
}

.logout {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    text-decoration: none;
}

.logout div {
    color: #666;
    font-size: 24px;
}

.logout div i {
    margin-right: 10px;
}

.logout:hover div {
    color: #fff;
}

.logout:hover {
    background: #000;
}

/** MENU **/

.menu {
    background: #222;
    margin-top: 100px;
    height: 100%;
    width: 250px;
    font-size: 24px;
    position: fixed;
}

.menu ul li {
    padding: 15px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.menu ul a {
    color: #666;
    text-decoration: none;
}

.menu ul a li i {
    margin-right: 20px;
}

.menu ul li:hover {
    background: #000;
}

.menu ul a:hover {
    color: #fff;
}

/** WRAPPED CONTENT **/

.wrapped-content {
    padding: 150px 0px 0px 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/** HOME **/

.report {
    width: 300px;
    height: auto;
    margin: 0px 40px 40px 0px;
    padding: 20px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: all 0.5s ease;
    -webkit-transition: width 0.5s ease;
    transition: all 0.5s ease;
    cursor: default;
}

.on {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.foodList {
    margin-bottom: 20px;
}

.total {
    display: none;
}

.sell-buttons, .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 20px;
}

.chek {
    display: none;
    color: #4F8A10;
    background-color: #DFF2BF;
}

.cancel {
    display: none;
    color: #D8000C;
    background-color: #FFD2D2;
}

.yes {
    color: #4F8A10;
    background-color: #DFF2BF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-animation: animatezoom 0.3s;
    animation: animatezoom 0.3s;
    text-decoration: none;
}

.no {
    color: #D8000C;
    background-color: #FFD2D2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-animation: animatezoom 0.3s;
    animation: animatezoom 0.3s;
    text-decoration: none;
}

.chek,
.cancel,
.yes,
.no {
    width: 100px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.chek:hover,
.yes:hover {
    color: #fff;
    background-color: #4F8A10;
}

.cancel:hover,
.no:hover {
    color: #fff;
    background-color: #D8000C;
}

.on h1 {
    margin-bottom: 20px;
}

.on li {
    list-style: none;
    text-align: justify;
}

.on:hover {
    -webkit-box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.16);
}

.on:hover .total {
    display: block;
    -webkit-animation: animatezoom 0.3s;
    animation: animatezoom 0.3s;
}

.on:hover .chek,
.on:hover .cancel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-animation: animatezoom 0.3s;
    animation: animatezoom 0.3s;
}

.report .newOrder {
    font-size: 106px;
    cursor: pointer;
    border: none;
    background: #fff;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    color: #000;
}

.report .newOrder:hover {
    color: #666;
}

/** INGRESAR ALIMENTOS **/

.modal,
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.setOrder {
    background: #fff;
    margin: auto;
    width: 80%;
    height: 670px;
    -webkit-animation: animatezoom 0.5s;
    animation: animatezoom 0.5s;
    border-radius: 0px 10px 10px 10px;
    border-top: 10px solid #228be6;
}

.deleteOrder {
    background: #fff;
    margin: 100px auto;
    width: 30%;
    padding: 20px;
    border-radius: 5px;
    border-top: 10px solid #228be6;
    -webkit-animation: animatezoom 0.5s;
    animation: animatezoom 0.5s;
}

/** ADD ORDER FOOD **/

.selectFood,
.selectIng {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 20px;
}

.food,
.ing {
    color: #00529B;
    background-color: #BDE5F8;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.food:hover,
.ing:hover {
    color: #fff;
    background-color: #00529B;
}

.containerOrder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 90%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0px 50px;
    padding: 30px 0px 0px 0px;
}

.setOrder .options {
    margin-top: 20px;
}

.containerOrder .selectFood {
    margin-right: 50px;
}

.containerOrder .selectIng {
    margin-right: 50px;
    display: none;
}

.setOrder .yes {
    border: none;
}

.hidden {
    display: none;
}

.orderList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
}

.orderList .items {
    color: #9F6000;
    background-color: #FEEFB3;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    font-size: 20px;
    font-family: Lato-Regular;
    margin-bottom: 10px;
    width: 400px;
}

.orderList .items:hover {
    color: #fff;
    background-color: #9F6000;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
